table{
    border: solid #ddd;
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8pc rgb(0, 0, 0, 0.1);
    overflow: hidden;
}
.th{
    background-color: green;
    /* background-color: green; */
}
th,td{
    border: 2px solid #ddd;
    font-family: Arial, sans-serif;
    padding: 20px;
}
tr:hover{
    background-color: gainsboro;
}